@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
}
#home {
  background-image: url('../public/images/header-background.jpg');
  background-size: cover;
  background-position: center center;
}
#about {
  background-image: url('../public/images/about-background.jpg');
  background-size: cover;
  background-position: 25% center;
}

#contact {
  background: url('../public/images/header-background.jpg'),
    linear-gradient(
      to top,
      rgba(51, 51, 51, 0.95),
      rgba(51, 51, 51, 0.75),
      rgba(51, 51, 51, 0.55),
      transparent
    );
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
