@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
}
#home {
  background-image: url('../public/images/header-background.jpg');
  background-size: cover;
  background-position: center center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: green;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
